<ion-content class="custom-bg" [fullscreen]="true">
  <div class="wrap">
    <ion-button class="back-button" fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <div class="icon-circle">
      <img src="../../../assets/images/Vector2.png" alt="Mouse" />
    </div>
    <h1 class="title">{{ categoria?.name }}</h1>
    <p class="subtitle">Cantidad: {{ items.length }}</p> 
    
    <div 
      class="device-card" 
      *ngFor="let item of displayedItems" 
      [class.scanned]="isScanned(item)">
      
      <div class="device-left">
        <span class="device-id">Nombre: {{ item.name }}</span>
        <span class="device-serial">Descripción: {{ item.description }}</span>
      </div>
      <div class="device-right">
        <span 
          class="status" 
          [class.escaneado]="isScanned(item)"
          [class.pendiente]="!isScanned(item)">
          {{ isScanned(item) ? 'Escaneado' :  'Pendiente' }}
        </span>
        <ion-icon name="time-outline"></ion-icon>
      </div>
    </div>

    <div 
      class="load-more-container"
      *ngIf="displayedItems.length < items.length">
      
      <ion-button 
        expand="block" 
        fill="outline" 
        (click)="loadMore()">
        Cargar Más ({{ displayedItems.length }} / {{ items.length }})
      </ion-button>
    </div>

  </div>
</ion-content>