<ion-content class="custom-bg" [fullscreen]="true">
  <div class="wrap">

    <ion-button class="back-button" fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>

    <!-- Icono superior -->
    <div class="icon-circle">
      <img src="../../../assets/images/3D_Forma_Sesion.png" alt="Categoria" />
    </div>

    <h1 class="title">{{ categoria?.name }}</h1>
    <p class="subtitle">Cantidad de items: {{ items.length || 0 }}</p>

    <!-- Lista de items con checkpoint -->
    <div class="card-list">
      <div class="card-item" *ngFor="let item of items">
      <div class="card-left">
        <span class="label">{{ item.name }}</span>
        <span class="count">{{ item.description }}</span>
      </div>

      <!-- Toggle para marcar completado (solo lectura) -->
      <ion-toggle
        [checked]="item.completado"
        [disabled]="true"> <!-- Deshabilitado, el estado se actualiza por escaneo -->
      </ion-toggle>
      </div>
    </div>

  </div>
</ion-content>
